body {
    margin: auto;
    width: 1000px;
    background-image: url("../img/ents.jpg");
    background-repeat: repeat;
}

#solid_background {
	background-color: #3a4f19;
	border-radius: 75px 75px 0px 0px;
	border-color: #3a4f19;
	min-height: 600px;
	font-family: 'Arima Madurai', cursive;
}


header {
    margin: auto;
	margin-top: 25px;
    height: 150px;
	text-align: center;
	text-margin: auto;
	padding: 5px;
	background-color: #c9c2a1;
	border-color: #775c39;
	border-radius: 75px 75px 0px 0px;
	font-family: 'Great Vibes', cursive;
}

header a {
	text-decoration: none;
}

h1 {
	letter-spacing: 3px;
	font-size: 40px;
	color: #2a3b0f;
}

nav {
	margin: auto;
	height: 50px;
	text-align: center;
}
nav ul {
    list-style-type: none; /* Remove bullets. */
    margin: 20px;

}

nav ul li {
    display: inline-block;
    padding-left: 30px;
	padding-right: 30px;
}

nav ul li a {
    display: block; 
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
	color: #a8ba8d;
    text-transform: capitalize;
}

nav ul li a:hover {
    background-color: #c9c2a1;
    text-decoration: none;
	color: #2a3b0f;
	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-transform: rotate(3deg);
	transition: all .5s ease-in-out;
}

section {
	min-height: 400px;
	text-align: center;
}

#entList {
	width: 150px;
	min-height: 300px;
	margin: 0px 35px 20px 35px;
	float: left;
	background-color: #c9c2a1;
	border-width: 1px;
    border-style: solid;
    border-color: #959F86;
	border-radius: 2px;
}


h4 {
	font-family: 'Arima Madurai', cursive;
	font-size: 18px;
}

footer {
    clear: both;
	text-align: center;
	color: #959F86;
	height: 50px;
	background-color: #293e08;
}

table.speciesTable {
    text-align: center;
    margin: 20px 20px 20px 0px;
	min-width: 700px;
	min-height: 300px;
	font-size: 18px;
}

table.speciesTable th, table.speciesTable td {
	width: 100px;
}

table.speciesTable, table.speciesTable tr, table.speciesTable th, table.speciesTable td {
    border-width: 1px solid #263310;
	border-radius: 2px;
}

#nestsCol th{
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
	margin: 0px;
	padding: 0px;
}

table.speciesTable th {
    background-color: #293e08;
	text-decoration: none;
	color: #959F86;
}

table.speciesTable td {
    background-color: #c9c2a1;
	text-decoration: none;
	color: #2a3b0f;
}

table.speciesTable td.button:hover {
    background-color: #959F86;
	text-decoration: none;
	color: #2a3b0f;
	cursor: pointer;
	-moz-transform: scale(0.98);
	-webkit-transform: scale(0.98);
	-o-transform: scale(0.98);
	-ms-transform: scale(0.98);
	transform: scale(0.98);
}

table.speciesTable input {
	background-color: #c9c2a1;
	text-decoration: none;
	color: #2a3b0f;
	cursor: pointer;
}
