body {
    margin: auto;
    width: 1000px;
    background-image: url("../img/ents.jpg");
    background-repeat: repeat;
}

#container {
	background-color: #3a4f19;
	border-radius: 75px 75px 0px 0px;
	border-color: #3a4f19;
	min-height: 680px;
}


header {
    margin: auto;
	margin-top: 30px;
    height: 150px;
	text-align: center;
	text-margin: auto;
	padding: 5px;
	background-color: #c9c2a1;
	border-color: #775c39;
	border-radius: 75px 75px 0px 0px;
	
}

h1 {
	font-family: 'Great Vibes', cursive;
	letter-spacing: 3px;
	font-size: 40px;
	color: #2a3b0f;
}