body {
    margin: auto;
    width: 1000px;
    background-image: url("../img/ents.jpg");
    background-repeat: repeat;
}

#solid_background {
	background-color: #01060A;
	border-radius: 10px 10px 0px 0px;
	border-color: #01060A;
	min-height: 600px;
	font-family: 'Arima Madurai', cursive;
}


header {
    margin: auto;
	margin-top: 25px;
    height: 150px;
	text-align: center;
	padding: 5px;
	background-color: #047831;
	border-color: #C77318;
	border-radius: 10px 10px 0px 0px;
	font-family: 'Great Vibes', cursive;
}

header a {
	text-decoration: none;
}

h1 {
	letter-spacing: 3px;
	font-size: 40px;
	color: #101111;
}

h2 {
	
	
}

nav {
	margin: auto;
	height: 50px;
	text-align: center;
}
nav ul {
    list-style-type: none; /* Remove bullets. */
    margin: 20px;

}

nav ul li {
    display: inline-block;
    padding-left: 30px;
	padding-right: 30px;
}

nav ul li a {
    display: block; 
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
	color: #B7C9C6;
    text-transform: capitalize;
}

nav ul li a:hover {
    background-color: #B7C9C6;
    text-decoration: none;
	color: #01060A;
	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-transform: rotate(3deg);
	transition: all .5s ease-in-out;
}

section {
	min-height: 400px;
	text-align: center;
}

#userPlace {
	width: 150px;
	min-height: 350px;
	margin: 0px 25px 20px 30px;
	float: left;
	background-color: #A2B2AF;
	border: 2px solid #01060A;
	border-radius: 5px;

}

#listHeader {
	background-color: #119141;
	color: #01060A;
	border-color: #63C132;
	border-bottom: 4px solid #01060A;
	font-weight: 700;
	height: 40px;
	text-align: center;
	padding-top: 10px;
	width: 150px;
	font-size: 20px;
	border-radius: 2px;
}

#userList {
	list-style-type: none;
	margin: 0px;
	padding: 1px;

}

#userList li {
	display: block;
	text-decoration: none;
	border-bottom: 2px dotted #01060A;
}

#userList li:hover {
    background-color: #86044B;
	text-decoration: none;
	color: #E0DAAC;
	border-bottom: 2px dotted #E0DAAC;
	cursor: pointer;
	-moz-transform: scale(0.98);
	-webkit-transform: scale(0.98);
	-o-transform: scale(0.98);
	-ms-transform: scale(0.98);
	transform: scale(0.98);
}	


h4 {
	font-family: 'Arima Madurai', cursive;
	font-size: 18px;
}

footer {
    clear: both;
	text-align: center;
	color: #01060A;;
	height: 50px;
	background-color: #005F23;
}

#title {
	background-color: #119141;
	color: #01060A;
	border: 2px solid #01060A;
	font-weight: 700;
	height: 40px;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	border-radius: 2px;
}



table.entsTable {
    text-align: center;
    margin: 20px 30px 20px 0px;
	min-width: 700px;
	min-height: 300px;
	font-size: 18px;
}

table.entsTable th, table.entsTable td {
	width: 100px;
    text-decoration: none;
    color: #060807;
}

table.entsTable, table.entsTable tr, table.entsTable th, table.entsTable td {
    border: 2px solid #01060A;
	border-radius: 2px;
}

#nestsCol th{
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
	margin: 0px;
	padding: 0px;
}

table.entsTable th {
    background-color: #86044B;
}

table.entsTable td {
    background-color: #A2B2AF;
}

table.entsTable td.button:hover {
    background-color: #04782F;
	text-decoration: none;
	color: #e2c8ad;
	cursor: pointer;
	-moz-transform: scale(0.98);
	-webkit-transform: scale(0.98);
	-o-transform: scale(0.98);
	-ms-transform: scale(0.98);
	transform: scale(0.98);
}

table.entsTable input {
	background-color: #c9c2a1;
	text-decoration: none;
	color: #2a3b0f;
	cursor: pointer;
	border: 2px solid #005F23;
	border-radius: 2px;
}

#contactContainer {
	text-align: center;
    margin: 20px auto 20px auto;
	width: 500px;
	height: 400px;
	font-size: 18px;
	background-color: #A2B2AF;
	border: 2px solid #01060A;
	border-radius: 5px;
}

#formHeader {
	background-color: #119141;
	margin: 0px;
	color: #01060A;
	border-color: #63C132;
	border-bottom: 4px solid #01060A;
	font-weight: 700;
	height: 40px;
	text-align: center;
	padding: 10px 0px 0px 0px;
	width: 500px;
	font-size: 20px;
	border-radius: 2px;
	font-family: 'Arima Madurai', cursive;
}

#contactForm {
	text-align: center;
    margin: 20px auto auto auto;
	width: 500px;
	height: 300px;
	
}

#fields {
	margin: auto;
	width: 450px;
	height: 280px;
}

.label {
    float: left;
	margin: 10px;
	width: 200px;
	border: 1px solid #01060A;
	height: 30px;
}

form input, form select {
    /*background-color: tomato;*/
    border: 1px solid;
}

form input[type=reset], form input[type=submit] {
    width: 200px;
}

form input[type=reset]:hover, form input[type=submit]:hover {
    background-color: #63C132;
	text-decoration: none;
	color: #FDE74C;
	cursor: pointer;
	-moz-transform: scale(0.98);
	-webkit-transform: scale(0.98);
	-o-transform: scale(0.98);
	-ms-transform: scale(0.98);
	transform: scale(0.98);
}



input {
	float: left;
	margin: 10px;
	width: 200px;
	border: 1px solid black;
	height: 30px;
}

input[type="radio"]{
	width: 10px;
	height: 30px;
}

select {
	float: left;
	margin: 10px;
	width: 200px;
	border: 1px solid black;
	height: 30px;
	font-family: 'Arima Madurai', cursive;
}

span.delivery {
	float: left;
	margin-top: 10px;
	height: 30px;
	/*border: 1px solid black;*/
}

